{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
        <div class="about-img-container">
            <p class="about-header-text">Get rewarded by answering unanswered questions in the fields of math and science.</p>
        </div>
    </header>
{{end}}

<div class='about-content-container'>
    <div class="left-title">
        <p class="left-title-text">How It Works</p>
    </div>
    <p class="about-info-text">
    Donec id elit non mi porta gravida at eget metus.
    <br><br>
    Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui.
    <br><br>
    Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.
    </p>
</div>

<div class="team-container">
    <div class="row">
        <h2 class="page-header">Our Team</h2>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Kfir Dolev
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Steven Mazliach
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Annisa Karaca
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
            <h3>Khoa Luong
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
    </div>
<div>

<footer class='about-footer'>
    Problematica 2016 - All Rights Reserved
</footer>
