*.pyc
node_modules/
httpserver.log
applications/admin/sessions/
parameters_8000.py
parameters_5000.py
parameters_3000.py
applications/Problematica/errors/
httpserver.pid
.idea/
applications/Problematica/databases/sql.log
applications/Problematica/sessions/
applications/admin/errors/
.Python
applications/Problematica/databases/
applications/__init__.pyc
.env
pip-selfcheck.json
welcome.w2p
.DS_Store
