
//Possible Color Palette:
$regal:       #9e3120;
$jet:         #353535;
$tuscan:      #f0d8a8;
$pearl:       #f2e4c8;
$gainsboro:   #dedede;
$gainsboro2:  #d8e2dc;
$whitelilac:  #e7e7e7;
$whitesmoke:  #f6f6f6;

//Supplementary Colors:

//Reds, and Pinks:
$wine:        #702632;
$rosetaupe:   #925A5A;
$fiery:       #f45b69;
$sunset:      #fe5f55;
$terracotta:  #ed6a5a;
$tulip:       #fe938c;
$nadeshiko:   #f4acb7;
$bubblegum:   #ffcad4;
$rosemist:    #ffe5d9;

//Whites, Grays, Yellows, and Oranges:
$stormdust:   #636264;
$boulder:     #797979;
$trolley:     #7b7c80;
$powder:      #fffffa;
$isabelline:  #ebebeb;
$isabelline2: #eaebed;
$platinum:    #e6eBe0;
$beige:       #eef5db;
$palespring:  #f0f3bd;
$blond:       #f4f1bb;
$apricot:     #f0b67f;
$barleycorn:  #A08860;

//Greens, Blues, and Purples:
$pewter:      #9cafb7;
$cambridge:   #9bc1bc;
$greentea:    #c7efcf;
$caribbean:   #02c39a;
$persian:     #00a896;
$serpent:     #59c3c3;
$cadet:       #5ca4a9;
$rackley:     #4b88a2;
$steelblue:   #4281a4;
$seaweed:     #028090;
$seablue:     #05668d;
$han:         #4062bb;
$liberty:     #52489c;
$imperial:    #69306d;
$maastricht:  #0e103d;
$blackrock:   #2e3141;
$eastbay:     #4a5170;
$comet:       #555c79;

//Tans and Browns:
$timberwolf:  #ddd5d0;
$sand:        #ead2ac;
$pale:        #e6b89c;
$mountbatten: #9d8189;
$tuscanbrown: #6d4c3d;
